/* nav {
  background-color: #042104;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
} */

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
}

a:hover {
  transform: scale(1.2);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 0px;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* li{
  list-style-type: none;
  display: inline;
  margin: 0 10px;
} */

/* Home.css, Menu2.css, Menu3.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
} */

label {
  display: table;
  /* flex-direction: column; */
  margin-bottom: 0px;
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
  max-width: 500px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 16px;
  width: 100%;
}

select {
  appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  padding-right: 30px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  /* margin-top: 20px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}




.fa-shopping-cart {
  /* font-size: 5em; */
  /* margin-right: 5px; */
}

@media (min-width: 768px) {
  form {
    max-width: 500px;
  }
}





body {
  margin: 0;
  font-family: 'sequel', sans-serif;
  /* background-color:lightslategray; */
}

/* .nav-items{
  list-style: none;
  display: flex;
}

.nav-items > li:hover{
  color: orange;
  transform: scaleX(1.2);
}
.nav-items > li{
  padding: 15px;
}

.title, .text{
  text-align: center;
}

.photo{
  display: flex;
  flex-direction: column;
} */


.slidering{
  width: 100%;
  height: 700px;
  object-fit: hidden;
}


/* .navHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; 
  box-shadow: 0 2px 7px rgba(245, 190, 8, 0.89);
} */
/* .navHeader > img{
  margin-right: 10px;
} */

.cardImg{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height:200px;
}
.card-title{
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.contacts {
  display: flex;
  /* justify-content:center; */
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x:auto;
  padding: 20px;
}
.cardMain{
  /* flex-basis: 225px; */
  /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25); */
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column;
  position: relative;

}
.cardBody{
  /* display: flex; */
  align-items: center;
}
.title--span{
  margin-block: 10px;
  /* font-size: 12px; */
  color: #2B283A;
  padding: 3px;
  text-overflow: ellipsis;
}
* {
  box-sizing: border-box;
}
.text--span{
  font-weight: bold;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 7px;
  font-weight: bold;
}

.cart {
  height: 2.5em;
}

.buttonConfig{
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #3b2794 1.14%, #91623c 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.buttonCart{
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  align-items: center;
  flex-direction:column;
}

.productsCount {
  font-size: 1em;
  color: orange;
  font-weight: bold;
  
}

/* #root {
  display: flex;
  align-items: center;
} */

/* body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
} */

form {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}


#payment-message {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  padding-top: 12px;
  text-align: center;
}

#payment-element {
  margin-bottom: 24px;
}

/* Buttons and links */
button {
  background: #5469d4;
  font-family: Arial, sans-serif;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

button:hover {
  filter: contrast(115%);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: '';
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
    min-width: initial;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin: 0 5px;
  }
}