.footer-container {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-dark-color);
    color: #fff;
    padding: 20px;
  }
  
  .footer-social a {
    color: darkolivegreen;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer-social a:hover {
    color: #0077cc;
  }
  
  .footer-text {
    font-size: 14px;
    /* margin-right: 40px; */
  }