  .line-spacing-top{
    margin: 3rem 10rem 0rem 10rem;
  }

  .line-spacing-bottom{
    margin: 0rem 10rem 3rem 10rem;
  }

  .quotes-font{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: -40px;
  }
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-camfoot{
    color: darkgreen;
    font-weight: 700;
    padding: 20px;
  }

  .header-card{
    font-weight: 600;
    color: darkolivegreen;
  }

  .text-space{
    padding: "0px 150px"; 
    margin: "20px"
  }

  .body-card{
    font-size: small;
  }

  .text-font-history{
    color: black;
    padding: 50px 200px;
    background-color: white;
  }
  
  .home-heading {
    font-size: 36px;
    text-align: center;
    color: #012f01;
  }
  
  .home-slider {
    width: 100%;
    margin: 0 auto;
  }
  
  .home-text_heading {
    font-size: 18px;
    text-align: center;
    margin-top: -50px;
    font-family: sequel;
    /* margin-bottom: 10px; */
  }

  .logo_style{
    width: 50%;
    margin: 20px;
  }

  .home-text {
    font-size: 18px;
    line-height: 1.5;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    padding: 20px;
    color: white;
    background-color: darkolivegreen;
  }
  
  .home-text b {
    font-weight: bold;
  }
  .home-text{
    margin: 0px 0px -16px;
  }
  
  .home-text a {
    color: #0077cc;
    text-decoration: none;
  }
  
  .home-text a:hover {
    text-decoration: underline;
  }

  .home-slider img {
    border-radius: 0px;
  }

  .home-slider img {
    width: 100%;
    max-height: 700px;
    /* object-fit: ; */
  }

  .text-buchery{
    padding: 50px 200px;
  }

  @media only screen and (max-width: 450px){
    .text-font-history{
      color: white;
      padding: 20px 50px;
      background-color: darkolivegreen;
    }

    .text-buchery{
      padding: 20px 50px;
    }
  }
